@import 'swiper.min';

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas-neue-regular.woff2") format("woff2"),
       url("../fonts/bebas-neue-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/bebas-neue-bold.woff2") format("woff2"),
       url("../fonts/bebas-neue-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-regular.woff2") format("woff2"),
       url("../fonts/roboto-condensed-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-light.woff2") format("woff2"),
       url("../fonts/roboto-condensed-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2"),
       url("../fonts/roboto-condensed-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.link:hover,
.btn:hover {
  cursor: pointer;
}

.container {
  width: 1366px;
  margin: 0 auto;
}

.header {
  background: url("../img/header-bg.jpg") no-repeat 50% 0;
  background: conic-gradient(from 250deg at 16.03% 39.06%, #003D85, #B80027, #003D85);
}

.header-wrapper {
  padding: 30px 103px 50px;


  color: #FFFFFF;

  .header-top {
    display: flex;
    justify-content: space-between;
  }

  .header-main {
    display: flex;
    justify-content: flex-end;

    margin-top: -5px;
  }

  .header-main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 400px;

    padding-bottom: 43px;
  }

  .header-image {
    margin: 0 185px 0 65px;
  }

  .header-company-name {
    text-decoration: none;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;
    vertical-align: baseline;
  }
  .header-phone {
    text-decoration: none;
    color: #fff;
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.03em;
    vertical-align: baseline;
  }

  .header-phone:hover {
    text-decoration: underline;
  }

  .city-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    line-height: 49px;
    letter-spacing: 0.03em;
    text-align: right;
  }

  .fitness-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 109px;
    line-height: 109px;
    font-weight: bold;
    text-align: right;
    letter-spacing: 0.03em;

    margin-top: 12px;
    margin-bottom: 48px;
    position: relative;
  }

  .header-list {
    text-align: right;
    list-style: none;

    position: absolute;
    bottom: 35px;
    right: 265px;
    margin: 0;
    padding: 0;
  }
  .header-list-item {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: normal;
    line-height: 150%;
  }


  .buy-button {
    border: 4px solid #ffffff;
    width: 225px;
    height: 55px;
    align-self: flex-end;
    position: relative;
    text-align: center;

    background-color: transparent;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 56px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2px 1px #fff;
      top: 1px;
    }

    &:active {
      top: 1px;
    }
  }

  .social-links {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .social-link {
    margin-bottom: 20px;
    text-decoration: none;
    vertical-align: baseline;

    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.gym {
  display: flex;
  justify-content: space-between;
  padding: 120px 103px;

  .gym-text {
    width: 355px;
    color: #102654;
  }

  .text {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
  }

  .note {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 50px;
  }

  .gym-image {
    position: relative;
    padding-bottom: 115px;
    padding-left: 65px;
  }
  .gym-image--gym2 {
    position: absolute;
    background-image: url("../img/play-button.png");
    bottom: 0;
    left: 0;
  }
}
.section-header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  margin-bottom: 20px;
  color: #102654;
}

.subscriptions {
  text-align: center;
  background-color: #F8F9FC;
  padding: 120px 103px;
  position: relative;
  z-index: 1;

  .section-header {
    margin-top: 0;
  }
}

.tab-links {
  display: flex;
  justify-content: center;
  margin-bottom: 39px;
}
.tab-link {
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  line-height: 150%;
  color: rgba(16, 38, 84, 0.5);
  padding: 20px 23px 0;

  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
  &.active {
    color: #102654;
    span {
      border-bottom: 2px solid #D10A42;
    }
  }
  span {
    padding-bottom: 20px;
    display: inline-block;
    margin-bottom: -2px;
    &:hover{
      cursor: pointer;
    }
  }
}

.tab-content {
  justify-content: space-between;
  display: none;

  &.active {
    display: flex;
  }

  .option {
    width: 360px;
    background-color: #ffffff;
    text-align: center;
    padding: 68px 0;
    position: relative;
    border: 7px solid transparent;
    box-sizing: border-box;

    &.active,
    &:hover {
      position: relative;
      box-sizing: border-box;
      background-color: #fff;
      background-clip: padding-box;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -7px;
        background: linear-gradient(135deg, #D10A42, #00359F);
      }

      .buy-button {
        border: none;
        color: #fff;
        background: linear-gradient(to right, #D10A42, #00359F);
      }
    }
  }
  .option-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 29px;
    color: #102654;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .option-note {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: #495A7D;
    margin: 10px 0;
  }
  .option-price-bg {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 100px;
    line-height: 150%;
    color: #E8E8E8;
    opacity: 0.48;
    margin: 10px 0 30px;
  }

  .option-price{
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 150%;
    color: #103AAE;
    position: absolute;
    width: 100%;
    top: 195px;
    margin: 0;
  }

  .ruble {
    color: #102654;
    font-weight: 400;
  }

  .buy-button {
    border: 2px solid #102654;
    width: 206px;
    height: 64px;
    text-align: center;
    position: relative;

    background-color: transparent;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 60px;
    color: #102654;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;

    display: inline-block;
    box-sizing: border-box;
    vertical-align: baseline;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2px 1px #102654;
      top: 1px;
    }

    &:active {
      top: 1px;
    }
  }
}

.disk-image-wrapper img{
  position: absolute;
  right: -183px;
  bottom: -150px;
  z-index: -2;
}

.promo{
  margin: 120px 103px;
  display: flex;
  justify-content: space-around;

  color: #fff;

  .promo-text{
    width: 500px;
    height: 500px;
    padding: 78px 78px;
    box-sizing: border-box;
    background-color: #ED0233;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .promo-text-wrapper {
    display: flex;
    justify-content: space-around;
  }

  p { margin: 0; }

  .promo-name {
    margin: 0;
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    font-weight: 700;
    line-height: 90px;
  }
  .promo-date-time {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    line-height: 150%
  }
  .promo-label {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }
  .promo-numbers {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
  }
  .promo-note {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    line-height: 150%;
  }
  .promo-date-wrapper {
    display: flex;
    justify-content: left;
  }
  .promo-border-top {
    border-top: 1px solid #fff;
  }
  .promo-month-year {
    margin-left: 0.5em;
    margin-top: 0.4em;
    p {
      line-height: 1.3;
      font-weight: 300;

    }
  }
  .buy-button {
    text-align: center;

    display: inline-block;
    border: 4px solid #ffffff;
    width: 343px;
    height: 67px;
    box-sizing: border-box;
    background-color: transparent;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 60px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
    vertical-align: baseline;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2px 1px #ffffff;
      top: 1px;
    }

    &:active {
      top: 1px;
    }
  }

}

.coaches {
  margin: 120px 103px;
}

.coaches-header {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;

  color: #102654;

  text-align: left;
}

.swiper-container.coaches-swiper {
  width: 1160px;
  padding: 0 40px;
  margin: 0 -40px;
}

.coaches-swiper .slide {
  position: relative;
  color: #fff;
  text-align: center;
  p {
    margin: 0;
  }

  li {
    text-align: left;
  }

  &:hover {
    .slide-coach-name {
      display: none;
    }
    .slide-coach-info {
      display: flex;
    }
  }

  .slide-coach-name {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
  }
  .coach-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
  }
  .slide-coach-info {
    display: none;
  }

  .coach-info {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 55px;
    background-color: rgba(16, 38, 84, 0.89);
  }
  .coach-specialization {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 150%;
    color: #B6BDCC;

    margin-bottom: 35px;
  }
  .achievement-item {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;

    list-style-type: disc;
    margin-bottom: 15px;
  }
}

.advantages {
  text-align: center;
  background-color: #F8F9FC;
  padding: 120px 164px;
  position: relative;
  z-index: 1;

  .section-header {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  .advantages-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    text-align: left;

  }

  .advantages-left-block,
  .advantages-right-block {
    width: 340px;
    flex-shrink: 0;
  }

  .advantages-left-top,
  .advantages-left-bottom,
  .advantages-right-top,
  .advantages-right-bottom {
    display: flex;
    justify-content: space-between;

  }

  .advantages-right-top {
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  }

  .advantages-left-top {
    padding-bottom: 80px;
    padding-left: 25px;
    border-bottom: 2px solid rgba(209, 10, 66, 0.2);
  }

  .advantages-right-bottom {
    padding-top: 80px;
  }

  .advantages-left-bottom {
    padding-top: 80px;
    padding-left: 20px;
  }

  .advantages-left-top-right,
  .advantages-left-bottom-right,
  .advantages-right-top-right,
  .advantages-right-bottom-right {
    margin-left: 30px;
  }

  .gradient-text {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 71px;
    line-height: 80%;

    margin-bottom: 10px;

    background: linear-gradient(120deg, #D10A42, #0041CA 60%); /* Градиент для текста */
    -webkit-background-clip: text; /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent; /* Прозрачный текст */
  }

  .unit-name {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #2E35AC;
  }

  .advantages-name {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 80%;

    margin-bottom: 15px;

    color: #102654;
  }

  .advantages-note  {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 140%;

    color: #102654;
  }

  .advantages-central-block {
    background-color: #1C3374;
    padding: 65px 34px;
    text-align: center;
    width: 240px;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0 60px;
    p {
      color: #fff;
    }
    .advantages-number {
      font-family: "Roboto Condensed", sans-serif;
      font-weight: bold;
      font-size: 74px;
      line-height: 100%;
    }
    .advantages-name {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 100%;

      margin-top: 10px;
      margin-bottom: 40px;
    }
    .advantages-note {
      font-family: "Roboto Condensed", sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.stocks {
  margin: 120px 103px;
  p{
    margin: 0;
  }
  .section-header {
    text-align: center;
    margin-bottom: 50px;
  }
}
.stocks-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-stock {
  display: flex;

  flex: 0 0 560px;

}
.main-stock-info {
  padding: 40px 45px;
  background-color: #ED0233;
  position: relative;

  p, a {
    color: #fff;
  }
}

.secondary-stocks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 7px;
}
.secondary-stock {
  padding: 25px;
  width: 546px;
  height: 197px;

  a,
  p {
    color: #1C3374;
  }
}
p.stock-header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 26px;

  margin-bottom: 20px;

  span {
    font-size: 70px;
    vertical-align: baseline;
  }
}
.stock-header-bigger {
  font-size: 28px;
  margin-bottom: 10px;
}
p.stock-note {
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}
.more-link {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  position: absolute;
  bottom: 25px;
}

.more-link-bigger {
  font-size: 14px;
  line-height: 16px;
  bottom: 40px;
}

.gradient-border {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  background-clip: padding-box;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -7px;
    background: linear-gradient(135deg, #D10A42, #00359F);
  }
}

.reviews {
  margin: 120px 103px;
  .section-header {
    text-align: center;
    margin-bottom: 50px;
  }
}
.reviews-wrapper {
  display: flex;
  justify-content: center;
}
.reviews-swiper {
  width: 560px;
  padding: 0 75px;
  margin: 0 -75px;
}
.review {
  width: 560px;
  height: 242px;
  padding: 62px;
  box-sizing: border-box;
  background-color: #1C3374;
  color: #fff;

  display: flex;
  justify-content: space-between;
}
.review-author-photo {
  border-radius: 50%;
}
.review-content {
  width: 330px;
}
.review-author {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;

  margin: 0 0 20px;
}
.review-text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;

  margin: 0;
}

.contacts {
  display: flex;

  .section-header {
    margin-top: 0;
    margin-bottom: 50px;
  }
}

.contact-form {
  flex: 1 1 50%;
  background-color: #102654;
  box-sizing: border-box;
  padding: 70px 170px 70px 103px;

  .section-header {
    color: #fff;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-input {
  flex: 0 0 190px;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;

  color: #fff;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #74819C;
  background-color: transparent;
  padding-bottom: 5px;

  &:hover {
    border-bottom: 3px solid #74819C;
    padding-bottom: 3px;
  }

  &::placeholder {
    color: #fff;
  }
}

.form-submit {
  width: 100%;
  border: 3px solid #FFFFFF;
  padding: 15px 0;
  margin-top: 30px;

  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  text-transform: uppercase;

  background-color: transparent;

  color: #FFFFFF;

  position: relative;
  cursor: pointer;
  &:hover,
  &:active {
    top: 1px;
  }
}

.contact-info {
  flex: 1 1 50%;
  border-top: 1px solid #74819C;
  box-sizing: border-box;
  padding: 70px 159px 70px 120px;
}

.contact-info-wrapper {
  display: flex;
}

.contact-header {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;

  color: #102654;
  margin: 0;
}

.contact-text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;

  color: #102654;
  margin: 0;
}
.link.contact-text {
  text-decoration: none;
  vertical-align: baseline;
  &:hover {
    text-decoration: underline;
  }
}

.contact-left {
  padding-right: 60px;
  border-right: 1px solid #74819C;
}

.contact-right {
  padding-left: 60px;
}

.contact-address,
.contact-phone {
  margin-bottom: 25px;
}

.footer {
  background-color: #030A1A;
}
.footer-wrapper {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 103px;

  .social-links {
    display: flex;
    align-items: center;
  }
  .social-link {
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }
  .logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.02em;

    color: #FFFFFF;
  }
}

.footer-nav {
  flex: 0 0 431px;

  display: flex;
  justify-content: space-between;
  .link {
    color: #fff;
    text-decoration: none;
    vertical-align: baseline;

    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    &:hover {
      text-decoration: underline;
    }
  }
}