.container {
  width: 1366px;
  margin: 0 auto;
}

header {
  height: 658px;
  background: url("/img/header-bg.jpg");


  color: #FFFFFF;


  .logo,
  .phone {
    font-family: Bebas Neue;
    font-size: 26px;
    line-height: 26px;
  }

  .city-name {
    font-family: Bebas Neue;
    font-size: 49px;
    line-height: 49px;
  }

  .fitness-name {
    font-family: Bebas Neue;
    font-size: 109px;
    line-height: 109px;
    text-align: right;
  }

  .header-list {
    text-align: right;
    list-style: none;

    li {
      font-family: Roboto Condensed;
      font-size: 14px;
      line-height: 150%;
    }
  }
  .social-links {
    font-family: Roboto Condensed;
    font-size: 12px;
    line-height: 14px;
    // display: flex;
    // align-items: center;
    text-align: right;
    text-transform: uppercase;
  }
}