/* Reviews section */

.reviews {
  margin: 120px 103px;
  .section-header {
    text-align: center;
    margin-bottom: 50px;
  }
}
.reviews-wrapper {
  display: flex;
  justify-content: center;
}
.reviews-swiper {
  width: 560px;
  padding: 0 75px;
  margin: 0 -75px;

  .swiper-slide {
    display: flex;
  }
}

.review {
  width: 560px;
  padding: 62px;
  box-sizing: border-box;
  background-color: #1C3374;
  color: #fff;

  display: flex;
  justify-content: space-between;
  align-self: center;
}
.review-author-photo {
  border-radius: 50%;
}
.review-content {
  width: 330px;
}
.review-author {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;

  margin: 0 0 20px;
}
.review-text {
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;

  margin: 0;
}